<LPCOpenCfg>
	<symbol name="varExampleDestInc"  value="example/inc"/>

	<template tool="xpresso" section="filelist">
		<import src="${varExampleSrcDir}/../systick" dest="${varExampleDestSrc}">
			<include>*.c</include>
		</import>
		<import src="${varExampleSrcDir}/../systick" dest="${varExampleDestInc}">
			<include>*.h</include>
		</import>
	</template>
</LPCOpenCfg>
